<!doctype html>
<html>
  <head>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>A&V</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Annaëlle & Vincent" />
    <meta property="og:image" content="/img/intro.jpg" />
    <link rel="icon" href="https://i.pinimg.com/originals/20/4d/a1/204da1fdaac134447d02c0e778b86f2b.png" />

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

  </head>
  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper">Annaëlle & Vincent</span>
      <span class="site-heading-lower">7 Avril 2018</span>
    </h1>

    <%= yield %>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Annaêlle Renault et Vincent Panis 7 Avril 2018</p>
      </div>
    </footer>

    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
