<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">A&V</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="index.html">Programme</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="map">Accès</a>
        </li>
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="bed">Hébergement</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="dress">Dress Code</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="contact">Contact</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Chambres ou Chalets indépendants</span>
            <span class="section-heading-lower">30 euros / personnes pour 2 nuits.</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://i.ytimg.com/vi/iy2q6yUJBfI/maxresdefault.jpg" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded" style="font-family: 'Raleway'; font-size: 20px; font-weight: 300">
          <p class="mb-0">Bonne nouvelle !
          <br>
          <br>
          Tout le monde peut dormir à la Bastide d'Albignac afin d'éviter de prendre le volant en état d'ivresse ou de vous préoccuper de la recherche de logement. Chambres ou chalets, nous vous attribuerons votre logement à votre arrivée. Nous vous demandons une petite participation de 30 euros par adulte indépendamment du nombre de nuitées.
          <br>
          <br>
          Exemple : Un couple avec un enfant désirant dormir à la Bastide d'Albignac le vendredi 6 et le samedi 7 Avril doit régler 60 euros. Cela ne coûte pas plus cher d'arriver le vendredi !
          <br>
          <br>
          Gratuit pour les enfants. PENSEZ A PRENDRE VOS DRAPS !
          </p>
          <br>
          <div class="intro-button mx-auto text-center">
            <a target="_blank" class="btn btn-primary btn-xl" href="https://www.lepotcommun.fr/pot/1t2kse88">RESERVER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
