<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="index.html">Programme</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="map">Accès</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="bed">Hébergement</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="dress">Dress Code</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="contact">Contact</a>
        </li>
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="faq">FAQ</a>
          <span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Questions fréquentes</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Une liste de mariage ?
              <br>
              Non ! Une urne sera déposée à Albignac pour ceux qui le souhaitent.
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              La 4G à Albignac ?
              <br>
              Non ! Il n'y aucune couverture réseau à la Bastide. Peut-être un WIFI...
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Doit-on apporter nos draps ?
              <br>
              OUI !!
            </li>

          </ul>
          <p class="address mb-5">
            <em>
              Annaëlle Renault et Vincent Panis
              <br>
              <strong>60 rue de Reuilly</strong>
              <br>
              <strong>75 012 PARIS</strong>
              <br>
              06.84.73.96.18 ou 06.63.03.36.94
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
