<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">A&V</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="index.html">Programme</a>
        </li>
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="map">Accès</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="bed">Hébergement</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="dress">Dress Code</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="contact">Contact</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-section about-heading" style="margin-top: 100px;">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper" style="font-family: 'Rochester'; font-size: 35px; font-weight: 700">Méfiez-vous ! La Bastide d'Albignac est également le nom d'un hameau.</span>
            </h2>
            <h2 style="font-family: 'Raleway'; font-size: 30px; font-weight: 300">Tapez "Labastide 81340 Le Dourn" et non "la Bastide d'Albignac" dans vos GPS.</h2>
            <br>
            <div class="map-link intro-button mx-auto text-center hidden-lg">
              <a target="_blank" class="btn btn-primary btn-xl" href="https://www.google.com/maps/dir/Mairie,+Place+Georges+Boulouys,+12170+L%C3%A9dergues/Labastide,+81340+Le+Dourn/@44.046322,2.453495,13z/data=!4m14!4m13!1m5!1m1!1s0x12ad8aeab2ac031f:0xf51287b49203ce9c!2m2!1d2.4405206!2d44.0888142!1m5!1m1!1s0x12b20a1098697a95:0xc24eb89af2620f83!2m2!1d2.4734837!2d44.003693!3e0?hl=en">Voir la carte</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
